<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web dedicada a la escritora Camilla Läckberg y su obra literaria">
    <meta name="author" content="Pilar Carabal Quesada">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <!--FAVICON-->
    <link rel="icon" type="image/png" href="../favicon.png">
    <!--Aquí introducimos las meta etiquetas-->
</head>
<body>
    
        <header>
            <div>
                <img src="../favicon.png" alt="Dibujo de libros">
            </div>
            <h1>Camilla Läckberg</h1>
        </header>
        <nav><!--Introducimos el menú en formato lista-->
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/Productoshtml.html">Productos</a></li>
                <li><a href="../views/Presupuestohtml.html">Presupuesto</a></li>
                <li><a href="../views/Contactohtml.html">Contacto</a></li>
            </ul>
        </nav>
        <main><!--Introducimos las secciones de sectione article y aside, donde aside nos indica los premios de la autora y se repetirá en diferentes páginas de html-->
            <section>
                <h2>Fans de Camilla Läckberg</h2>
                <article>
                <h6>Datos de la empresa</h6>
                    <a id="direcciondelaempresa">Dirección de la empresa</a>
                    <dl>
                        <dt>Nombre de la empresa</dt>
                        <dd>Fans de Camilla Lackberg S.L.</dd>
                        <dt>Direccion</dt>
                        <dd>Av/Literaria, número infinito C.P:40555 Ciudad Manresa</dd>
                    </dl>
                    <p>Correo de contacto</p>
                    <a href="mailto:prueba@prueba.com">prueba@prueba.com</a><br><br>

                    <img src="../assets/image/mapa.png" alt="Foto de ubicación en mapa">
                </article>
            </section>
            <aside>
                    <h3>Premios y reconocimientos</h3>
                        <ul>
                            <li>Premio SKTF al mejor autor del año en Suecia (2005).</li>
                            <li>Premio Literario Folket en Suecia (2006).</li>
                            <li>Gran Premio de Literatura Policíaca en Francia (2008).</li>
                            <li>Nombrada Mujer del Año (Woman of the Year) por el prestigioso diario sueco Expressen en 2012.</li>
                        </ul>
                    <img src="../assets/image/CamillaLackberg.png" alt="Foto Camilla Lackberg" width="218" height="231">  
            </aside>
        </main>
        <footer><!-- logotipos de varias redes sociales
            que nos redirijan a ellas, la dirección de la empresa y el aviso legal. Introducimos tambien el enlace local a la LOPD-->
            <ul>
                <li><a href="../html/Presupuestohtml.html#avisolegal">Aviso legal</a></li>
                <li><a href="../html/Contactohtml.html#direcciondelaempresa">Dirección de la empresa</a></li>
                <li><p>&copy;Todos los derechos reservados</p></li>
                <li><a href="https://x.com/i/flow/login?redirect_after_login=%2Fcamillalackberg" title="Enlace a X de Camilla Läckberg"><img src="../assets/image/X.png" alt="logox"></a></li>
                <li><a href="https://www.instagram.com/lackberg/?hl=es" title="Enlace a Instagram"><img src="../assets/image/Instagrampng.png" alt="enlaceainstagram"></a></li>
                <li><a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2Fcamillalackberg%2F%3Flocale%3Des_ES" title="enlace a facebook de Camilla Läckberg"><img src="../assets/image/Facebook.png" alt="enlace a Facebook"></a></li>
            </ul>        
        </footer>
    
</body>
</html>