<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web dedicada a la escritora Camilla Läckberg y su obra literaria">
    <meta name="author" content="Pilar Carabal Quesada">
    <title>Presupuesto</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <!--FAVICON-->
    <link rel="icon" type="image/png" href="../favicon.png">
    <!--Aquí introducimos las meta etiquetas-->
</head>
<body>
        <header>
            <div class="corporativa">
                <img src="../favicon.png" alt="Dibujo de libros" >
            </div>
            <h1>Camilla Läckberg</h1>
        </header>
        <nav><!--Introducimos el menú en formato lista-->
           <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../views/Productoshtml.html">Productos</a></li>
            <li><a href="../views/Presupuestohtml.html">Presupuesto</a></li>
            <li><a href="../views/Contactohtml.html">Contacto</a></li>
           </ul> 
        </nav>
        <main><!--Aquí encontramos dentro de section dos article dada la importancia y relación que tiene con la toma de datos la aceptación de la LOPD-->
            <section>
                <h2>Formulario</h2>
                <article>
                    <h6>Formulario a completar</h6>
                    <form action="#" name="Formulario" method="post">

                    <label for="Nombre">Nombre</label><br>
                    <input type="text" name="Nombre" id="Nombre" required><br>
        
                    <label for="Direccion">Dirección</label><br>
                    <input type="text" name="Direccion" id="Direccion" required><br>
        
                    <label for="Telefono">Teléfono</label><br>
                    <input type="tel" name="Telefono" id="Telefono" required><br>
        
                    <label for="description">Solicite más información</label><br>
                    <textarea name="Areadetexto" id="description" cols="30" rows="6" required>Escriba aquí</textarea><br>

                    <input type="submit" name="boton" value="Enviar consulta">
                    <input type="reset" name="borrado" value="Borrar formulario">
                
                    </form>
                </article>
                <article>
                <h2>Política de privacidad</h2>
                <a id="avisolegal">Aviso legal</a>
                <p>Política de privacidad
                A través de este sitio web no se recaban datos de carácter personal de las personas usuarias sin su conocimiento, ni se ceden a terceros.
                
                Con la finalidad de ofrecerle el mejor servicio y con el objeto de facilitar el uso, se analizan el número de páginas visitadas, el número de visitas, así como la actividad de las persona visitantes y su frecuencia de utilización. A estos efectos, la Agencia Española de Protección de Datos (AEPD) utiliza la información estadística elaborada por el Proveedor de Servicios de Internet.
                
                La AEPD no utiliza cookies para recoger información de las personas usuarias, ni registra las direcciones IP de acceso. Únicamente se utilizan cookies propias, de sesión, con finalidad técnica (aquellas que permiten la navegación a través del sitio web y la utilización de las diferentes opciones y servicios que en ella existen).
                
                El portal del que es titular la AEPD contiene enlaces a sitios web de terceros, cuyas políticas de privacidad son ajenas a la de la AEPD. Al acceder a tales sitios web usted puede decidir si acepta sus políticas de privacidad y de cookies. Con carácter general, si navega por internet usted puede aceptar o rechazar las cookies de terceros desde las opciones de configuración de su navegador.
                
                Información básica sobre protección de datos
                A continuación le informamos sobre la política de protección de datos de la Agencia Española de Protección de Datos.
                
                Responsable del tratamiento
                Los datos de carácter personal que se pudieran recabar directamente de la persona interesada serán tratados de forma confidencial y quedarán incorporados a la correspondiente actividad de tratamiento titularidad de la Agencia Española de Protección de Datos (AEPD).
                
                La relación actualizada de las actividades de tratamiento que la AEPD lleva a cabo se encuentra disponible en el siguiente registro de actividades de la AEPD.
                
                Finalidad
                La finalidad del tratamiento de los datos corresponde a cada una de las actividades de tratamiento que realiza la AEPD y que están accesibles en el registro de actividadesde tratamiento.
                
                Legitimación
                El tratamiento de sus datos se realiza para el cumplimiento de obligaciones legales por parte de la AEPD, para el cumplimiento de misiones realizada en interés público o en el ejercicio de poderes públicos conferidos a la AEPD, así como cuando la finalidad del tratamiento requiera su consentimiento, que habrá de ser prestado mediante una clara acción afirmativa.
                
                Puede consultar la base legal para cada una de las actividades de tratamiento que lleva a cabo la AEPD en el siguiente Acceder al registro de actividades de la AEPD.
                
                Conservación de datos
                Los datos personales proporcionados se conservarán durante el tiempo necesario para cumplir con la finalidad para la que se recaban y para determinar las posibles responsabilidades que se pudieran derivar de la finalidad, además de los períodos establecidos en la normativa de archivos y documentación.
                
                Comunicación de datos
                Con carácter general no se comunicarán los datos personales a terceros, salvo obligación legal, entre las que pueden estar las comunicaciones al Defensor del Pueblo, Jueces y Tribunales, personas interesadas en los procedimientos relacionados con la reclamaciones presentadas.</p>
        
                <p>¿Acepta la política de privacidad?</p>
                    <input type="checkbox" name="si" value="si" required>Sí<br>
                    <input type="checkbox" name="No" value="no" checked>No<br><br>

                <input type="submit" name="boton" value="Aceptar">
            </article>
        </section>
        <aside>
                <h3>Premios y reconocimientos</h3>
                    <ul>
                        <li>Premio SKTF al mejor autor del año en Suecia (2005).</li>
                        <li>Premio Literario Folket en Suecia (2006).</li>
                        <li>Gran Premio de Literatura Policíaca en Francia (2008).</li>
                        <li>Nombrada Mujer del Año (Woman of the Year) por el prestigioso diario sueco Expressen en 2012.</li>
                    </ul>
                <img src="../assets/image/CamillaLackberg.png" alt="Foto Camilla Lackberg" width="218" height="231">  
        </aside>
        

    </main>
            
    <footer><!--logotipos de varias redes sociales
        que nos redirijan a ellas, la dirección de la empresa y el aviso legal. Introducimos tambien el enlace local a la LOPD-->
        <ul>
            <li><a href="../html/Presupuestohtml.html#avisolegal">Aviso legal</a></li>
            <li><a href="../html/Contactohtml.html#direcciondelaempresa">Dirección de la empresa</a></li>
            <li><p>&copy;Todos los derechos reservados</p></li>
            <li><a href="https://x.com/i/flow/login?redirect_after_login=%2Fcamillalackberg" title="Enlace a X de Camilla Läckberg"><img src="../assets/image/X.png" alt="logox"></a></li>
            <li><a href="https://www.instagram.com/lackberg/?hl=es" title="Enlace a Instagram"><img src="../assets/image/Instagrampng.png" alt="enlaceainstagram"></a></li>
            <li><a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2Fcamillalackberg%2F%3Flocale%3Des_ES" title="enlace a facebook de Camilla Läckberg"><img src="../assets/image/Facebook.png" alt="enlace a Facebook"></a></li>
        </ul>        
    </footer>
   
</body>
</html>